<html>
<head>
    <title>Flight booking</title>
</head>
<body>
        <form id="Search">
            From:<br>
                <input type="text" name="from"><br>
            Destination:<br>
                <input type="text" name="destination">

                <input type="submit" value="Search">
                <input type="reset">
        </form>

        {%for obj in object%}
        <p>{{ obj.From }} to {{obj.To}}  {{obj.Flightname}} <img class="zoom img-rounded img-responsive" src = "{{obj.image}}"style="height:100px;"
style="width:100px;" alt="25"/></p>
        {%endfor%}

</body>

<script type="text/javascript">

    $( "img" ).addClass("img-responsive");

    $(document).on('submit','#Search', function(e)){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'/user/create',
            data:{
                from:$('#from').val(),
                destination:$('#destination').val(),
            },
            sucess:function(){
                alert("asthala pistha")
            }
        })
    }
</script>
</html>
